<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BarGraphFull</title>
    <script src="https://d3js.org/d3.v3.js"></script>
<script type="text/javascript" src="../static/nv.d3.js"></script>
<link href="../static/nv.d3.css" rel="stylesheet" type="text/css" />
    <script src="../static/jquery-3.1.0.min.js"></script>

</head>
<body style="background-color: lightcyan">
<style>
    .chartBlock {
        width: 500px;
        height: 200px;
        border-style: solid;
        border-width: 10px;
        border-color: lightcyan;
        float: left;
        overflow: visible;
        text-align: center;
    }
    body {
        font-family: "SansSerif", SansSerif;
    }
</style>



<script>
function runQuery() {
    var newquery = $("#query").val();

    $.getJSON( "get_data.json", {
        query: newquery,
        format: "json"
    })
    .done(function( data ) {
        // remove existing chart1, chart 2, etc.
        // add new ones.
      });
}
</script>



<form id="queryForm" name="queryForm">
    Query:<br>
    <input type="text" id="query" name="query" style="width:80%" value="SELECT l_returnflag, l_linestatus, sum(l_quantity) AS sum_qty, sum(l_extendedprice) AS sum_base_price, sum(l_extendedprice * (1 - l_discount)) AS sum_disc_price, sum(l_extendedprice * (1 - l_discount) * (1 + l_tax)) AS sum_charge, avg(l_quantity) AS avg_qty, avg(l_extendedprice) AS avg_price, avg(l_discount) AS avg_disc, count(*) AS count_order FROM lineitem WHERE l_shipdate <= date '1998-12-01' - interval '90' day (3) GROUP BY l_returnflag, l_linestatus ORDER BY l_returnflag, l_linestatus">
    <input type="radio" id="voodoo" name="option" value="voodoo" checked>Voodoo
    <input type="radio" id="monetdb" name="option" value="monetdb">MonetDB
    <input type="submit" name="submit" value="Submit" onclick="runQuery()" style="width:5%">
</form>


<div id="charts"></div>

<script>

//var xVals = [];
//var yVals = [];

//var graphData = JSON.parse('{{ data|tojson }}');


//Following was an attempt at maintaining radio selection across page loads that didn't work out.
//$('#submit').click(function() {
    //if ($('#monetdb').is(':checked')) {
        //$("#monetdb").prop("checked", true)
    //};
    //if ($('#voodoo').is(':checked')) {
        //$("#voodoo").prop("checked", true)
    //};
//});

$(document).ready(function(){
    var graphData = {{ data|tojson }};
    var xVals = graphData.xVals;
    var yVals = graphData.yVals;
    var chartNames = graphData.chartNames;
    //chartNames deals with the eventual titles
    createCharts(chartNames, xVals, yVals);
    });



function createCharts(chartNames, xVals, yVals) {

    for (i = 0; i < yVals.length; i++) {

        $("#charts").append('<div class="chartBlock" id="chart' + (i + 1) + '" style="background-color: white" style="float: left"> <svg style="width:500px" style="height: 250px" style="float: left"></svg> </div>');
        //where nodes are actually added

        var yData = yVals[i];
        var j = i;
        //add in dom node in java script as a container for one chart
        //nv.addGraph(function () {
        var chart = nv.models.discreteBarChart()
                        .x(function (d) {
                            return d.label
                        })    //Specify the data accessors.
                        .y(function (d) {
                            return d.value
                        })
                        .margin({top:40, left:90})
                        .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
                        .tooltips(false)        //Don't show tooltips
                        .showValues(true)       //...instead, show the bar value right on top of each bar.
                        .duration(350)
                ;

        d3.select('#chart' + (j + 1) + ' svg') //this code creates the chart titles
                .append("text")
                .attr("x", 250)
                .attr("y", 20)
                .attr("text-anchor", "middle")
                .text(chartNames[j+2]);

        d3.select('#chart' + (j + 1) + ' svg') //pass in a reference
                .datum(exampleData(xVals, yData))
                .call(chart);


        nv.utils.windowResize(chart.update);

        //return chart;
        //});
    }
}



//Each bar represents a single discrete (not discreet) quantity.
function exampleData(xVals, list) {


 return [
    {
      key: "Cumulative Return",
      values: [
        {
          "label" : xVals[0] ,
          "value" : list[0]
        } ,
        {
          "label" : xVals[1] ,
          "value" : list[1]
        } ,
        {
          "label" : xVals[2] ,
          "value" : list[2]
        } ,
        {
          "label" : xVals[3] ,
          "value" : list[3]
        }

      ]
    }]

}


</script>


<br style="clear: left">
<hr style="clear: left" noshade color="orange">

<p>Runtime: </p>
<p id="running"></p>

<script type="text/javascript">
    var runTime = {{ timeTook }};
    document.getElementById("running").innerHTML = runTime.toString();


</script>

<noscript>
    <p id="yourbrowserisold">JavaScript is not enabled for this browser. Please try again with another browser.</p>
</noscript>


</body>
</html>